body{
	font-family: Arial,Verdana;
	overflow-x: none;
	overflow-y: auto;
}

#toppanel{
	background-color: black;
	min-height: 100px;
	top: 0;
}

#mainpanel{
	min-height: 500px;
	margin-top: 2%;
	margin-bottom: 2%;
	border: 1px black solid;
	min-width: 80%;
	overflow-y:auto;
}

#bottompanel{
	background-color: black;
	min-height: 100px;
	bottom: 0;
}

#titlebar{
	color: white;
	padding-top: 5%;
	padding-bottom: 2%;
	text-align: center;
}

#footbar{
	color: white;
	margin-right: 10%;
	margin-left: 10%;
	text-align: center;
	padding-top:5%;
}

#maincontent{
	padding: 10px;
	margin-left:10px;
	margin-right: 10px;
	overflow-y: none;
	overflow-x: auto;
}

#maincontent *{
	margin: 10px;
}

#maincontent div{
	float:left;
	margin-left:4%;
	margin-right:4%;
}

.box{
	max-height: 200px;
	min-height: 200px;

}

#sys{
	
}